In [23]:
import pandas as pd
import numpy as np

In [3]:
series = pd.Series([1, 2, 3, 4, 5])
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
series.dtype

dtype('int64')

In [5]:
series.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
series = pd.Series([1, 2, 3], index=['c', 'b', 'a'])
series

c    1
b    2
a    3
dtype: int64

In [8]:
series.index

Index(['c', 'b', 'a'], dtype='object')

In [9]:
series[1]

2

In [10]:
series['b']

2

In [11]:
series[['a', 'b']]

a    3
b    2
dtype: int64

In [14]:
series[['b', 'b']]

b    2
b    2
dtype: int64

In [15]:
# Numpy vectorizations/functions can be performed on pandas Series
series ** 2

c    1
b    4
a    9
dtype: int64

In [19]:
# Indexes can be checked for existance with 'in' ...
'a' in series

True

In [20]:
# ... values can not.
1 in series

False

In [21]:
# You can create a series with a dictionary
races = {'freezer 5 mile': 5, 'armory night at the races': 1, 'ocean breeze miles mania': 1}
pd.Series(races)

freezer 5 mile               5
armory night at the races    1
ocean breeze miles mania     1
dtype: int64

In [31]:
series = pd.Series({1: 1, 2: 2, 3: 4, 4: 8}, np.arange(5))
series

0    NaN
1    1.0
2    2.0
3    4.0
4    8.0
dtype: float64

In [32]:
pd.isnull(series)

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [33]:
pd.notnull(series)

0    False
1     True
2     True
3     True
4     True
dtype: bool

In [35]:
(pd.notnull(series) == series.notnull()).all()

True

In [36]:
(pd.isnull(series) == series.isnull()).all()

True

In [37]:
# It didn't actually snow :(
snow = pd.Series([3, 0.1, 0], index=[17, 18, 19])
rain = pd.Series([1.1, 0, 0.6, 0], index=[16, 17, 18, 19])

snow + rain

16    NaN
17    3.0
18    0.7
19    0.0
dtype: float64

In [38]:
snow.name = 'snow'
snow

17    3.0
18    0.1
19    0.0
Name: snow, dtype: float64

In [41]:
snow.index = ['Feb 17th', 'Feb 18th', 'Feb 19th']
snow

Feb 17th    3.0
Feb 18th    0.1
Feb 19th    0.0
Name: snow, dtype: float64

In [43]:
runs = {
    'user': ['andy', 'andy', 'andy'],
    'type': ['run', 'core', 'run'],
    'date': ['02-19-2020', '02-19-2020', '02-18-2020'],
    'time': ['20:15', '8:00', '16:00']
}
frame = pd.DataFrame(runs)
frame

   user  type        date   time
0  andy   run  02-19-2020  20:15
1  andy  core  02-19-2020   8:00
2  andy   run  02-18-2020  16:00

In [44]:
frame.head(2)

   user  type        date   time
0  andy   run  02-19-2020  20:15
1  andy  core  02-19-2020   8:00

In [45]:
frame.tail(2)

   user  type        date   time
1  andy  core  02-19-2020   8:00
2  andy   run  02-18-2020  16:00

In [46]:
frame.time

0    20:15
1     8:00
2    16:00
Name: time, dtype: object

In [47]:
frame['time']

0    20:15
1     8:00
2    16:00
Name: time, dtype: object