In [2]:
import json
import numpy as np
import pandas as pd

In [9]:
json_data = json.dumps({1: {'a': 1, 'b': 2}, 2: {'a': 3, 'b': 4}})

In [11]:
df = pd.read_json(json_data, orient='index')
df

   a  b
1  1  2
2  3  4

In [13]:
df.to_json()

'{"a":{"1":1,"2":3},"b":{"1":2,"2":4}}'

In [18]:
feb_runs = [
    11.56, 12, 
    2.34, 3.63, 2.85, 3.06, 3.92, 7.87, 12.5, 
    2.81, 3.8, 2.65, 7.5, 2.63, 14, 13.21, 
    1.28, 1.88, 2.64, 5.20, 3.76, 7.87, 12.59, 
    2.81, 2.81, 3.45
]
buckets = [0, 3, 8, 15]
cuts = pd.cut(feb_runs, buckets)
cuts

[(8, 15], (8, 15], (0, 3], (3, 8], (0, 3], ..., (3, 8], (8, 15], (0, 3], (0, 3], (3, 8]]
Length: 26
Categories (3, interval[int64]): [(0, 3] < (3, 8] < (8, 15]]

In [19]:
cuts.codes

array([2, 2, 0, 1, 0, 1, 1, 1, 2, 0, 1, 0, 1, 0, 2, 2, 0, 0, 0, 1, 1, 1,
       2, 0, 0, 1], dtype=int8)

In [20]:
cuts.categories

IntervalIndex([(0, 3], (3, 8], (8, 15]],
              closed='right',
              dtype='interval[int64]')

In [21]:
pd.value_counts(cuts)

(3, 8]     10
(0, 3]     10
(8, 15]     6
dtype: int64

In [23]:
bucket_names = ["Slept too Long Run", "Regular Run", "Log Run/Workout"]
cuts = pd.cut(feb_runs, buckets, labels=bucket_names)
cuts

[Log Run/Workout, Log Run/Workout, Slept too Long Run, Regular Run, Slept too Long Run, ..., Regular Run, Log Run/Workout, Slept too Long Run, Slept too Long Run, Regular Run]
Length: 26
Categories (3, object): [Slept too Long Run < Regular Run < Log Run/Workout]

In [24]:
pd.value_counts(cuts)

Regular Run           10
Slept too Long Run    10
Log Run/Workout        6
dtype: int64

In [25]:
cuts = pd.qcut(feb_runs, 4)
cuts

[(7.87, 14.0], (7.87, 14.0], (1.2790000000000001, 2.81], (2.81, 3.695], (2.81, 3.695], ..., (3.695, 7.87], (7.87, 14.0], (1.2790000000000001, 2.81], (1.2790000000000001, 2.81], (2.81, 3.695]]
Length: 26
Categories (4, interval[float64]): [(1.2790000000000001, 2.81] < (2.81, 3.695] < (3.695, 7.87] < (7.87, 14.0]]

In [26]:
pd.value_counts(cuts)

(1.2790000000000001, 2.81]    9
(3.695, 7.87]                 7
(7.87, 14.0]                  6
(2.81, 3.695]                 4
dtype: int64

In [29]:
race_locations = pd.DataFrame({ 
    'location': [
        "Ocean Breeze Athletic Complex - New York, NY", 
        "The Armory - New York, NY", 
        "Tod's Point - Old Greenwich, CT",
        "Franklin D. Roosevelt State Park - Yorktown Heights, NY"
    ],
    'race_count': [3, 2, 1, 2]
})
race_locations

                                            location  race_count
0       Ocean Breeze Athletic Complex - New York, NY           3
1                          The Armory - New York, NY           2
2                    Tod's Point - Old Greenwich, CT           1
3  Franklin D. Roosevelt State Park - Yorktown He...           2

In [34]:
locations: pd.Series = race_locations.T.loc['location']
locations

0         Ocean Breeze Athletic Complex - New York, NY
1                            The Armory - New York, NY
2                      Tod's Point - Old Greenwich, CT
3    Franklin D. Roosevelt State Park - Yorktown He...
Name: location, dtype: object

In [35]:
locations.str.contains('NY')

0     True
1     True
2    False
3     True
Name: location, dtype: bool

In [39]:
pattern = r"([A-Za-z'\.\s]+) - ([A-Za-z'\s]+), ([A-Z]{2})"
locations.str.findall(pattern)

0      [(Ocean Breeze Athletic Complex, New York, NY)]
1                         [(The Armory, New York, NY)]
2                   [(Tod's Point, Old Greenwich, CT)]
3    [(Franklin D. Roosevelt State Park, Yorktown H...
Name: location, dtype: object