In [25]:
import pandas as pd
import numpy as np
from datetime import datetime

In [26]:
mile_races = pd.Series(
    np.array(['4:54', '4:47', '4:52', '4:48']),
    [datetime(2019, 12, 20), datetime(2020, 2, 13), datetime(2020, 2, 27), datetime(2020, 3, 5)]
)
mile_races

2019-12-20    4:54
2020-02-13    4:47
2020-02-27    4:52
2020-03-05    4:48
dtype: object

In [27]:
mile_races.index.dtype

dtype('<M8[ns]')

In [28]:
mile_races.index[0]

Timestamp('2019-12-20 00:00:00')

In [29]:
mile_races['2/27/2020']

'4:52'

In [30]:
mile_races['20200227']

'4:52'

In [31]:
mile_races['2020']

2020-02-13    4:47
2020-02-27    4:52
2020-03-05    4:48
dtype: object

In [32]:
mile_races['2020-02']

2020-02-13    4:47
2020-02-27    4:52
dtype: object

In [33]:
mile_races['12/1/2019':'2/29/2020']

2019-12-20    4:54
2020-02-13    4:47
2020-02-27    4:52
dtype: object

In [34]:
# Current ski trip to Killington with Joe & Ben.
pd.date_range('2020-03-06', '2020-03-08')

DatetimeIndex(['2020-03-06', '2020-03-07', '2020-03-08'], dtype='datetime64[ns]', freq='D')

In [35]:
pd.date_range(start='2020-03-06', periods=3)

DatetimeIndex(['2020-03-06', '2020-03-07', '2020-03-08'], dtype='datetime64[ns]', freq='D')

In [36]:
pd.date_range(end='2020-03-08', periods=3)

DatetimeIndex(['2020-03-06', '2020-03-07', '2020-03-08'], dtype='datetime64[ns]', freq='D')

In [37]:
# Sundays in March.
pd.date_range('2020-03-01', '2020-03-31', freq='W-SUN')

DatetimeIndex(['2020-03-01', '2020-03-08', '2020-03-15', '2020-03-22',
               '2020-03-29'],
              dtype='datetime64[ns]', freq='W-SUN')

In [62]:
from pandas.tseries.offsets import Hour, Minute, MonthEnd

In [63]:
Hour()

In [64]:
twelve_hours = Hour(12)
twelve_hours

In [65]:
thirty_one_minutes = Minute(31)
thirty_one_minutes

In [66]:
twelve_hours + thirty_one_minutes

In [67]:
pd.date_range('2020-02-25', '2020-02-27', freq='12h31min')

DatetimeIndex(['2020-02-25 00:00:00', '2020-02-25 12:31:00',
               '2020-02-26 01:02:00', '2020-02-26 13:33:00'],
              dtype='datetime64[ns]', freq='751T')

In [68]:
pd.date_range('2020-02-25', '2020-02-27', freq=Hour(12) + Minute(31))

DatetimeIndex(['2020-02-25 00:00:00', '2020-02-25 12:31:00',
               '2020-02-26 01:02:00', '2020-02-26 13:33:00'],
              dtype='datetime64[ns]', freq='751T')

In [69]:
mile_races_seconds = pd.Series(
    np.array([294, 287, 292, 288]),
    [datetime(2019, 12, 20), datetime(2020, 2, 13), datetime(2020, 2, 27), datetime(2020, 3, 5)]
)
mile_races_seconds

2019-12-20    294
2020-02-13    287
2020-02-27    292
2020-03-05    288
dtype: int64

In [78]:
mile_races_sec_frame = mile_races_seconds.to_frame()
mile_races_sec_frame.columns = ['seconds']
mile_races_sec_frame

            seconds
2019-12-20      294
2020-02-13      287
2020-02-27      292
2020-03-05      288

In [79]:
mile_races_sec_frame['sec_diff'] = mile_races_sec_frame['seconds'] - mile_races_sec_frame['seconds'].shift(1)
mile_races_sec_frame['percent_diff'] = (mile_races_sec_frame['seconds'] / mile_races_sec_frame['seconds'].shift(1) - 1) * 100
mile_races_sec_frame

            seconds  sec_diff  percent_diff
2019-12-20      294       NaN           NaN
2020-02-13      287       NaN     -2.380952
2020-02-27      292       NaN      1.742160
2020-03-05      288       NaN     -1.369863

In [102]:
# Calculate the average seconds for mile races in each month.
month_offset = MonthEnd()
avg_per_month = mile_races_seconds.to_frame().groupby(month_offset.rollforward).mean()
avg_per_month

                0
2019-12-31  294.0
2020-02-29  289.5
2020-03-31  288.0

In [103]:
avg_per_month.index.tz is None

True

In [104]:
avg_per_month = avg_per_month.reset_index()
avg_per_month.columns = ['month', 'average time']
avg_per_month

       month  average time
0 2019-12-31         294.0
1 2020-02-29         289.5
2 2020-03-31         288.0

In [105]:
avg_per_month = avg_per_month.set_index(['month'])
avg_per_month

            average time
month
2019-12-31         294.0
2020-02-29         289.5
2020-03-31         288.0

In [107]:
avg_per_month.tz_localize('America/New_York')

                           average time
month
2019-12-31 00:00:00-05:00         294.0
2020-02-29 00:00:00-05:00         289.5
2020-03-31 00:00:00-04:00         288.0